:root {
	--color-background: #ffffff;
	--color-text: #24262d;
	--color-text-secondary: #4c515f;
	--color-text-placeholder: #c3c6cf;
	--color-neutral: #f3f6f9;
	--color-info: #00a0e8;
	--color-danger: #d11a1e;

	--container-width: 720px;
	--space-base: 16px;
	--space-narrow: 12px;
	--space-extended: 24px;
}

*:where(:not(html, iframe, img, svg):not(svg *)) {
	all: unset;
	display: revert;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	text-size-adjust: none;
}

body {
	min-height: 100dvh;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
}

#root {
	max-width: var(--container-width);
	margin-inline: auto;
	padding: var(--space-base);
	padding-bottom: env(safe-area-inset-bottom);
	display: flex;
	flex-direction: column;
	gap: var(--space-extended);
}

.add-form {
	height: 40px;
	display: flex;
	align-items: center;
	gap: var(--space-narrow);
	background-color: var(--color-neutral);
	border-radius: 4px;
	padding-left: var(--space-narrow);
}

.add-form-input {
	flex-grow: 1;
	outline: 0;
	border: 0;
	font-weight: 400;
	&::placeholder {
		color: var(--color-text-placeholder);
	}
}

.add-form-button {
	width: 40px;
	height: 40px;
	display: grid;
	place-items: center;
	color: var(--color-text-secondary);
	cursor: pointer;
}

.list-container {
	display: flex;
	flex-direction: column;
	gap: var(--space-extended);
}

.list-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
	cursor: pointer;
}

.title {
	font-weight: 700;
	font-size: 17px;
	line-height: 1.3;
}

.text {
	font-weight: 400;
	font-size: 11px;
	color: var(--color-text-secondary);
}

.message {
	height: 40px;
	padding-inline: var(--space-base);
	display: flex;
	align-items: center;
	background-color: var(--color-info);
	color: var(--color-background);
	position: fixed;
	width: 100dvw;
	bottom: 0;
	left: 0;
}

#view {
	max-width: var(--container-width);
	height: 100dvh;
	padding-bottom: env(safe-area-inset-bottom);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}

.view-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	inset: 0;
}

.view-content {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 95dvh;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
}

.view-handle {
	margin-block: 8px;
}

.view-body {
	height: 100%;
}

.view-iframe {
	border: 0;
}

.view-action {
	height: 40px;
	padding-inline: var(--space-narrow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--color-neutral);
}

.view-action--close {
	font-weight: 400;
	font-size: 11px;
	cursor: pointer;
}

.view-action--remove {
	color: var(--color-danger);
	font-weight: 400;
	font-size: 11px;
	cursor: pointer;
}
