.link {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	cursor: pointer;
}

.title {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.375rem;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.infoLabel {
	font-weight: normal;
	line-height: 1;
	font-size: 0.75rem;
	color: #4b5563;
}
