.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 720px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 2.5rem;
	padding-right: 0.5rem;
}

.iframe {
	border: 0;
}
