.item-container {
  position: relative;
  height: 80px;
  background-color: #ccc;
}

.item-facade {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  touch-action: pan-y;
}
